---
layout: default
---


{% for post in site.posts %}
  <div class="post">

    {% if post.hero %}
    <div class="hero" data-hero="{{post.hero}}">
      <h2>{{ post.title }}</h2>
    </div>
    {% else %}
      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
      </h2>
    {% endif %}

    <hr />
    {{ post.excerpt }}

    <div class="post_details">
      <img class="headshot" data-img="{{ post.headshot }}" />

      <div class="author_date">
        {{ post.author }}
        <span>
          | {{ post.date | date: "%b %-d, %Y" }}
        </span>
      </div>
    </div>

  </div>

{% endfor %}
