body {
  font-family: "Sentinel A", "Sentinel B", serif;
}

#wrapper {
  width: 1100px;
  margin: 0 auto;
}

#nav {
  float: left;
  width: 300px;
  text-align: center;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
    display: inline-block;

    li {
      margin-top: 20px;

      a {
        font-size: 25px;
        text-decoration: none;
        color: #333333;
      }
    }
  }
}

#content {
  float: left;
  padding: 50px 100px;
  width: 700px;
  box-sizing: border-box;
  line-height: 1.4em;

  hr {
    width: 100px;
    float: left;
    border: 1px solid #85A6B3;
  }

  p {
    clear: left;
    font-family: "Akkurat", sans-serif;
    font-weight: lighter;
    padding: 15px 0;
  }

  img {
    max-width: 500px;
  }
}

h2 {
  margin: 10px 0;
  font-weight: normal;
}
h1 a {
    background: url('/assets/logo_huuuuge.svg') no-repeat center;
    text-indent: -9999px;
    display: block;
    width: 230px;
    height: 230px;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
}

div.hero {
  width: 100%;
  height: 300px;
  position: relative;

  h2 {
    position: absolute;
    bottom: 0;
    color: black;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 15px 0;
    text-indent: 10px;
  }
}

.post_details {
  margin-bottom: 50px;
  padding-left: 15px;

  span {
    font-family: "Akkurat", sans-serif;
    color: #999;
    font-weight: light;
    font-size: 0.9em;
  }

  img.headshot {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    float: left;
    border: 1px solid #ccc;
  }

  div.author_date {
    padding-top: 9px;
    padding-left: 45px;
  }
}

.post-link {
  text-decoration: none;
  color: black;
}
